version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-api
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://root:1234@mongo:27017
      - MONGO_DATABASE=task_api
    restart: always

  mongo:
    image: mongo:7
    container_name: mongodb-compose
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data: